body {
  color: white;
  background-color: rgb(70, 152, 228);
  margin: 10% auto;
}

td {
  width: 10px;
  height: 10px;
  background-color: rgb(15, 44, 44);
}

h1 {
  width: 200px;
  margin: 0 auto;
}

table {
  background-color: black;
  margin: 0 auto;
}

.alive {
  background-color: white;
}

.alive:hover {
  background-color: teal;
}

.dead:hover {
  background-color: darkslategray;
}